@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";
@import url("http://fonts.cdnfonts.com/css/arial-rounded-mt-bold");
@import url("http://fonts.cdnfonts.com/css/lato");
.btn {
  display: inline-block;
  padding: 0.25rem 1rem;
  border-radius: 20px;
  border: solid 1px #209020;
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Arial Rounded MT Bold", sans-serif;
  margin: 0.6666666667rem 0;
}

p {
  font-family: "Lato", sans-serif;
}

header {
  background-color: #1E9B1E;
  color: white;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}
header h1 {
  font-size: 1rem;
  margin: 0;
}
header .social-wrapper {
  font-size: 1.1rem;
}
header .social-wrapper a {
  color: whitesmoke;
}

nav {
  padding: 0;
  background-color: #DCF9CB;
}
nav .navbar-brand img {
  height: 3rem;
}
nav .navbar-toggler {
  border: solid #1E9B1E 2px;
  /* to remove the box shadow of the collapse button when clicked on */
}
nav .navbar-toggler:focus {
  box-shadow: 1px 3px 5px #1E9B1E;
}
nav .navbar-toggler-icon {
  background-image: url(../images/navbar/bar-nav.png);
}
nav .nav-link {
  color: #1E9B1E;
  font-weight: 500;
  font-family: "Lato", sans-serif;
  font-size: 1rem;
}
nav .nav-link:hover {
  color: #257025;
  border-top: solid #1E9B1E;
  border-bottom: solid #1E9B1E;
}

main {
  padding: 2rem 1rem;
}

#kampung-spirit .callout {
  font-style: italic;
  font-size: 0.9rem;
  background-color: rgba(220, 249, 203, 0.7);
  color: rgb(48, 48, 48);
  width: 80%;
  height: 55%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 1em 2em;
  border-radius: 20px;
  border: 1px solid #ddd;
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
}

.img-banner .col-4 {
  height: 16.6666666667vh;
  margin-left: 0;
  margin-right: 0;
}

.bg-setting {
  background-size: cover;
  background-position: center;
}

.bg-kampung-1 {
  background-image: url(../images/kampung/bg-kampung-1.png);
}

.bg-kampung-2 {
  background-image: url(../images/kampung/bg-kampung-2.png);
}

.bg-kampung-3 {
  background-image: url(../images/kampung/bg-kampung-3.png);
}

.bg-kampung-4 {
  background-image: url(../images/kampung/bg-kampung-4.png);
}

.overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.05);
  top: 0;
  left: 0;
}

.kampung-banner {
  height: 50vh;
  background-image: url(../images/kampung-v2b-happy-kids-std.png);
  background-size: cover;
  background-position: center 100%;
}

@media (min-width: 768px) {
  body {
    background-color: cornflowerblue;
  }
  header {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
  header h1 {
    font-size: 1.1rem;
  }
  header .social-wrapper {
    font-size: 1.25rem;
  }
  .img-banner .col-4 {
    height: 25vh;
  }
}
@media (min-width: 992px) {
  body {
    background-color: burlywood;
  }
  header h1 {
    font-size: 1.2rem;
  }
  header .social-wrapper {
    font-size: 1.5rem;
  }
  nav .nav-link {
    font-size: 1.15rem;
  }
}
@media (min-width: 1200px) {
  body {
    background-color: rgb(135, 222, 187);
  }
}
@media (min-width: 1400px) {
  body {
    background-color: rgb(150, 135, 222);
  }
}