@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";
@import url("http://fonts.cdnfonts.com/css/arial-rounded-mt-bold");
@import url("http://fonts.cdnfonts.com/css/lato");
.mycard {
  display: flex;
  flex-direction: column;
  min-height: 55vh;
  border: #237b23 solid 2px;
  border-radius: 20px;
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
  margin-top: 1rem;
  overflow: hidden;
}
.mycard .mycard-img img {
  width: 100%;
}
.mycard .mycard-body {
  flex: 3;
  padding: 0.5rem;
}
.mycard .mycard-body h5 {
  text-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
}

.btn {
  display: inline-block;
  padding: 0.25rem 1rem;
  border-radius: 20px;
  border: solid 1px #209020;
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Arial Rounded MT Bold", sans-serif;
  margin: 0.6666666667rem 0;
  color: #1E9B1E;
}

p {
  font-family: "Lato", sans-serif;
}

header {
  background-color: #1E9B1E;
  color: #FFFFFF;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}
header h1 {
  color: #FFFFFF;
  font-size: 1rem;
  margin: 0;
}
header .social-wrapper {
  font-size: 1.1rem;
}
header .social-wrapper a {
  color: whitesmoke;
}

nav {
  padding: 0;
  background-color: #DCF9CB;
}
nav .navbar-brand img {
  height: 3rem;
}
nav .navbar-toggler {
  border: solid #1E9B1E 2px;
  /* to remove the box shadow of the collapse button when clicked on */
}
nav .navbar-toggler:focus {
  box-shadow: 1px 3px 5px #1E9B1E;
}
nav .navbar-toggler-icon {
  background-image: url(../images/navbar/bar-nav.png);
}
nav .nav-link {
  color: #1E9B1E;
  font-weight: 500;
  font-family: "Lato", sans-serif;
  font-size: 1rem;
}
nav .nav-link:hover {
  color: #257025;
  border-top: solid #1E9B1E;
  border-bottom: solid #1E9B1E;
}

main {
  padding: 2rem 1rem;
}

section {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

#kampung-spirit {
  background-color: #9ACD32;
}

.img-banner .col-4 {
  height: 16.6666666667vh;
  margin-left: 0;
  margin-right: 0;
}

.bg-setting {
  background-size: cover;
  background-position: center;
}

.bg-kampung-1 {
  background-image: url(../images/kampung/bg-kampung-1.png);
}

.bg-kampung-2 {
  background-image: url(../images/kampung/bg-kampung-2.png);
}

.bg-kampung-3 {
  background-image: url(../images/kampung/bg-kampung-3.png);
}

.bg-kampung-4 {
  background-image: url(../images/kampung/bg-kampung-4.png);
}

.bg-testimonial-1 {
  background-image: url(../images/testimonials/testimonial-1.jpeg);
}

.bg-testimonial-2 {
  background-image: url(../images/testimonials/testimonial-2.jpeg);
}

.bg-testimonial-3 {
  background-image: url(../images/testimonials/testimonial-3.jpeg);
}

.overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.05);
  top: 0;
  left: 0;
}

#book-form input {
  padding: 4px 16px;
  background-color: #DCF9CB;
}
#book-form textarea {
  background-color: #DCF9CB;
}

#programmes-cirriculum a {
  text-decoration: none;
  color: rgb(48, 48, 48);
}

#testimonial .mycard {
  min-height: fit-content;
  flex-direction: row;
}
#testimonial .mycard .mycard-img {
  padding: 1rem;
}
#testimonial .mycard .mycard-img .circle {
  height: 150px;
  width: 150px;
  background-color: antiquewhite;
  border-radius: 50%;
}

@media (min-width: 768px) {
  header {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
  header h1 {
    font-size: 1.1rem;
  }
  header .social-wrapper {
    font-size: 1.25rem;
  }
  .hero-img {
    height: 300px;
    overflow: hidden;
  }
  .img-banner .col-4 {
    height: 25vh;
  }
  #programmes-cirriculum {
    text-align: center;
  }
  #programmes-cirriculum .title-wrapper {
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
  #programmes-cirriculum .row {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
  }
  #programmes-cirriculum .mycard {
    height: 65vh;
  }
  #testimonial {
    text-align: center;
  }
  #testimonial .mycard {
    height: 57.5vh;
    flex-direction: column;
  }
  #testimonial .mycard .circle {
    margin-left: auto;
    margin-right: auto;
  }
}
@media (min-width: 992px) {
  header h1 {
    font-size: 1.2rem;
  }
  header .social-wrapper {
    font-size: 1.5rem;
  }
  .hero-img {
    height: 400px;
    overflow: hidden;
  }
  nav .nav-link {
    font-size: 1.15rem;
  }
  .img-banner .col-4 {
    height: 28.5714285714vh;
  }
  .form-map img {
    max-height: 62.5vh;
  }
  #programmes-cirriculum {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  #programmes-cirriculum .title-wrapper {
    max-width: 70%;
    margin-left: auto;
    margin-right: auto;
  }
  #programmes-cirriculum .mycard {
    height: 65vh;
  }
  #testimonial .title-wrapper {
    max-width: 70%;
    margin-left: auto;
    margin-right: auto;
  }
  #testimonial .row {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (min-width: 1200px) {
  #testimonial .mycard {
    height: 50vh;
  }
}
@media (min-width: 1400px) {
  .img-banner .col-4 {
    height: 40vh;
  }
}