// theme colors
$base-color-1 : #1E9B1E !default;
$base-color-2 : #DCF9CB !default;
$base-color-3 : #9ACD32 !default;
$base-black : rgb(48, 48, 48) !default;
$base-white : #FFFFFF !default;

// Height control
$base-height : 50vh !default;

// spacing
$base-padding : 1rem !default;

$base-margin : 1rem !default;

$base-input-padding : 8px !default;

// borders
$base-border-thickness: 1px !default;
$base-border-radius: 20px !default;

// box-shadow
$base-box-shadow: 1px 3px 5px rgba(0,0,0,0.1) !default;

// font sizes
$base-font-size: 1rem !default;
