// theme colors
$base-color-1 : #1E9B1E !default;
$base-color-2 : #DCF9CB !default;
$base-color-3 : #9ACD32 !default;
$base-black : rgb(48, 48, 48) !default;
$base-white : #FFFFFF !default;

$base-violet : rgba(145, 74, 238, 0.63);
$base-blue : rgba(74, 178, 238, 0.63);
$base-green : rgba(79, 247, 88, 0.661);
$base-yellow : rgba(243, 233, 47, 0.824);
$base-orange : rgba(247, 197, 115, 0.762);
$base-red : rgba(228, 42, 42, 0.79);

$rainbow : (
    "red" : $base-red,
    "yellow" : $base-yellow,
    "orange" : $base-orange,
    "green" : $base-green,
    "blue" : $base-blue,
    "violet" : $base-violet
);

// Height control
$base-height : 50vh !default;

// spacing
$base-padding : 1rem !default;
$base-padding-em : 1em !default;
$base-margin : 1rem !default;

$base-input-padding : 8px !default;

// borders
$base-border-thickness: 1px !default;
$base-border-radius: 20px !default;

// box-shadow
$base-box-shadow: 1px 3px 5px rgba(0,0,0,0.1) !default;
$base-box-shadow-2: 3px 3px 10px rgba($base-black,1) !default;

// font sizes
$base-font-size: 1rem !default;

// circle 
$base-circle-diameter : 10rem !default;