@use "sass:math";
@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";

@import "./variables";

@import url('http://fonts.cdnfonts.com/css/arial-rounded-mt-bold');
@import url('http://fonts.cdnfonts.com/css/lato');

// General setting
.btn {
    display: inline-block;
    padding: math.div($base-padding, 4) math.div($base-padding, 1);
    border-radius: $base-border-radius;
    border: solid $base-border-thickness mix($base-color-1, $base-black, 90%);
    box-shadow: $base-box-shadow;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Arial Rounded MT Bold', sans-serif;
    margin: math.div($base-padding, 1.5) 0;
    color: $base-color-1;
}

p {
    font-family: 'Lato', sans-serif;
}

// Header Setting
header {
    background-color: $base-color-1;
    color: $base-white;
    padding-top: math.div($base-padding, 4);
    padding-bottom: math.div($base-padding, 4);

    h1 {
        color: $base-white;
        font-size: $base-font-size;
        margin: 0;
    }

    .social-wrapper {
        font-size: $base-font-size *1.1;

        a {
            color: whitesmoke;
        }
    }
}

nav {
    padding: 0;
    background-color: $base-color-2;

    .navbar-brand {
        img {
            height: 3rem;
        }
    }

    .navbar-toggler {
        border: solid $base-color-1 $base-border-thickness*2;

        /* to remove the box shadow of the collapse button when clicked on */
        &:focus {
            // box-shadow: none;
            box-shadow:  1px 3px 5px $base-color-1;
        }
    }
    .navbar-toggler-icon {
        background-image: url(../images/navbar/bar-nav.png);
    }
    .nav-link {
        color: $base-color-1 ;
        font-weight: 500;
        font-family: 'Lato', sans-serif;
        font-size: $base-font-size;
        &:hover {
            color: mix($base-color-1, $base-black, 60);
            border-top: solid $base-color-1;
            border-bottom: solid $base-color-1;
        }
    }
}


// Main Section Setting
main {
    padding: $base-padding*2 $base-padding ;
}
section {
    padding-top: $base-padding ;
    padding-bottom: $base-padding;
}
#kampung-spirit {
    background-color: $base-color-3;
}

.img-banner {
    .col-4 {
        height: math.div($base-height, 3);
        margin-left: 0;
        margin-right: 0;
    }
}

.bg-setting {
    background-size: cover;
    background-position: center;
}

.bg-kampung-1 {
    background-image: url(../images/kampung/bg-kampung-1.png);
}

.bg-kampung-2 {
    background-image: url(../images/kampung/bg-kampung-2.png);
}

.bg-kampung-3 {
    background-image: url(../images/kampung/bg-kampung-3.png);
}

.bg-kampung-4 {
    background-image: url(../images/kampung/bg-kampung-4.png);
}

.overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.05);
    top: 0;
    left: 0;
}

// Booking Form
#book-form {
    input {
        padding:  math.div($base-input-padding,2) $base-input-padding*2;
        background-color: $base-color-2;
    }
    textarea {
        background-color: $base-color-2;
    }
}


// ============= 7 6 8 PX ==============
@media (min-width : 768px) {
    body {
        // background-color: cornflowerblue;
    }

    // Header Setting
    header {
        padding-top: math.div($base-padding, 2);
        padding-bottom: math.div($base-padding, 2);

        h1 {
            font-size: $base-font-size*1.1;
        }

        .social-wrapper {
            font-size: $base-font-size*1.25 ;
        }
    }
    .hero-img{
        height: 300px;
        overflow: hidden;
    }
    .img-banner {
        .col-4 {
            height: math.div($base-height, 2);
        }
    }
}

// ============= 9 9 2 PX ==============
@media (min-width : 992px) {
    body {
        // background-color: burlywood;
    }

    // Header Setting
    header {

        h1 {
            font-size: $base-font-size*1.2;
        }

        .social-wrapper {
            font-size: $base-font-size*1.5 ;
        } 
    }
    .hero-img{
        height: 400px;
        overflow: hidden;
    }
    // Navbar
    nav {
        .nav-link {
            font-size: $base-font-size *1.15;
        }
    }

    // Kampung Spirit Section
    .img-banner {
        .col-4 {
            height: math.div($base-height,1.75);
        }
    }

    // Booking Form Section
    .form-map {
        img {
            max-height: $base-height * 1.25;
        }
        
    }

}

// ============= 1 2 0 0 PX ==============
@media (min-width : 1200px) {
    body {
        // background-color: rgb(135, 222, 187);
    }

}

// ============= 1 4 0 0 PX ==============
@media (min-width : 1400px) {
    body {
        // background-color: rgb(150, 135, 222);
    }
    // Kampung Spirit Section
    .img-banner {
        .col-4 {
            height: math.div($base-height,1.25);
        }
    }
}