@use "sass:math";
// @import "../node_modules/bootstrap/dist/css/bootstrap.min.css";

@import "./variables";

@import "./custom_card";

// General setting
.btn {
    display: inline-block;
    padding: math.div($base-padding, 4) math.div($base-padding, 1);
    border-radius: $base-border-radius;
    border: solid $base-border-thickness mix($base-color-1, $base-black, 90%);
    box-shadow: $base-box-shadow;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Arial Rounded MT Bold', sans-serif;
    margin: math.div($base-padding, 1.5) 0;
    color: $base-color-1;
}

p {
    font-family: 'Lato', sans-serif;
}

// Header Setting
header {
    background-color: $base-color-1;
    color: $base-white;
    padding-top: math.div($base-padding, 4);
    padding-bottom: math.div($base-padding, 4);

    h1 {
        color: $base-white;
        font-size: $base-font-size;
        margin: 0;
    }

    .social-wrapper {
        font-size: $base-font-size *1.1;

        a {
            color: whitesmoke;
        }
    }
}

nav {
    padding: 0;
    background-color: $base-color-2;

    .navbar-brand {
        img {
            height: 3rem;
        }
    }

    .navbar-toggler {
        border: solid $base-color-1 $base-border-thickness*2;

        /* to remove the box shadow of the collapse button when clicked on */
        &:focus {
            // box-shadow: none;
            box-shadow: 1px 3px 5px $base-color-1;
        }
    }

    .navbar-toggler-icon {
        background-image: url(../images/navbar/bar-nav.png);
    }

    .nav-link {
        color: $base-color-1 ;
        font-weight: 500;
        font-family: 'Lato', sans-serif;
        font-size: $base-font-size;

        &:hover {
            color: mix($base-color-1, $base-black, 60);
            border-top: solid $base-color-1;
            border-bottom: solid $base-color-1;
        }
    }
}


// Main Section Setting
main {
    padding: $base-padding*2 $base-padding ;
}

section {
    padding-top: $base-padding ;
    padding-bottom: $base-padding;
}

#kampung-spirit {
    background-color: $base-color-3;
}

.img-banner {
    .col-4 {
        height: math.div($base-height, 3);
        margin-left: 0;
        margin-right: 0;
    }
}

.bg-setting {
    background-size: cover;
    background-position: center;
}

.bg-kampung-1 {
    background-image: url(../images/kampung/bg-kampung-1.png);
}

.bg-kampung-2 {
    background-image: url(../images/kampung/bg-kampung-2.png);
}

.bg-kampung-3 {
    background-image: url(../images/kampung/bg-kampung-3.png);
}

.bg-kampung-4 {
    background-image: url(../images/kampung/bg-kampung-4.png);
}

.bg-testimonial-1 {
    background-image: url(../images/testimonials/testimonial-1.jpeg);
}

.bg-testimonial-2 {
    background-image: url(../images/testimonials/testimonial-2.jpeg);
}

.bg-testimonial-3 {
    background-image: url(../images/testimonials/testimonial-3.jpeg);
}

.overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.05);
    top: 0;
    left: 0;
}

// Booking Form
#book-form {
    input {
        padding: math.div($base-input-padding, 2) $base-input-padding*2;
        background-color: $base-color-2;
    }

    textarea {
        background-color: $base-color-2;
    }
}

// Programmes & Cirriculum 
#programmes-cirriculum {
    a {
        text-decoration: none;
        color: $base-black;
    }
}

// Testimonial
#testimonial {
    .mycard {
        min-height: fit-content;
        flex-direction: row;

        .mycard-img {
            padding: $base-padding;

            .circle {
                height: 150px;
                width: 150px;
                background-color: antiquewhite;
                border-radius: 50%;
            }
        }
    }
}

// Footer
footer {
    * {
        color: $base-white;
    }

    i {
        font-size: $base-font-size*1.5;
    }
}

// ======== A B O U T   P A G E ===========
#about-us {
    .btn {
        font-size: $base-font-size*1.25;
        font-weight: 700;
        padding: $base-padding-em $base-padding-em *2;
        border-radius: $base-border-radius * 2;
    }
}

#our-teachers,
#our-partners {

    .row {
        max-width: 80%;
        margin-left: auto;
        margin-right: auto;
        row-gap: $base-padding * 2;
    }

    .circle {
        height: $base-circle-diameter;
        width: $base-circle-diameter;
        border: $base-border-thickness solid $base-black;
        box-shadow: $base-box-shadow-2;
        border-radius: 20%;
        margin-left: auto;
        margin-right: auto;
        overflow: hidden;
    }
}

// generates teachers' bg-image
@for $i from 1 through 9 {
    .bg-teacher-#{$i} {
        background-image: url("../images/teachers/teacher-" + #{$i} +".png");
    }
}

// generates partners' bg-image
@for $i from 1 through 4 {
    .bg-partner-#{$i} {
        background-image: url("../images/partners/partner-" + #{$i} +".png");
    }
}

// ======== P R O G R A M M E S   P A G E ===========
#mission {

    ul {
        li {
            font-size: $base-font-size * 1.1;
            font-weight: 500;
            // color: mix($base-color-1, $base-white, 90%);
            color: $base-black;
        }
    }
}

.values {
    color: mix($base-color-1, $base-black, 80%);
    font-size: $base-font-size * 3;
    font-weight: 700;
    text-align: center;
    letter-spacing: math.div($base-font-size, 2);
}

@each $key, $value in $rainbow {
    .value-#{$key} {
        color: mix($base-white, $base-color-1, 95%);
        font-size: $base-font-size * 1.75;
        background-color: $value;
        border: $value solid $base-border-thickness *2;
        border-radius: $base-border-radius;
        box-shadow: $base-box-shadow-2;
        text-shadow: $base-box-shadow-2;
        font-weight: 700;
        display: block;
        width: 60%;
        text-align: center;
        margin: math.div($base-margin, 2) 0;
    }

    .text-#{$key} {
        color: $value;
    }
}


#programmes {
    .card-border {
        border: mix($base-black, $base-color-1, 30%) solid $base-border-thickness *2;
        border-radius: $base-border-radius;
        box-shadow: $base-box-shadow;
        overflow: hidden;
        height: math.div($base-height, 4.4);
    }
}

// ======== G A L L E R Y   P A G E ===========
#gallery {
    .max-width {
        max-width: 1000px;
    }

    .card-border {
        border: mix($base-black, $base-color-1, 30%) solid $base-border-thickness *2;
        border-radius: $base-border-radius;
        box-shadow: $base-box-shadow;
        overflow: hidden;
        // height: math.div($base-height) ;
    }
}

// ============= 7 6 8 PX ==============
@media (min-width : 768px) {
    body {
        // background-color: cornflowerblue;
    }

    // Header Setting
    header {
        padding-top: math.div($base-padding, 2);
        padding-bottom: math.div($base-padding, 2);

        h1 {
            font-size: $base-font-size*1.1;
        }

        .social-wrapper {
            font-size: $base-font-size*1.25 ;
        }
    }

    .hero-img {

        height: 300px;
        overflow: hidden;

        img {
            min-width: 100%;
            max-width: 100%;
        }
    }

    .img-banner {
        .col-4 {
            height: math.div($base-height, 2);
        }
    }

    // Prog & Cirriculum Section
    #programmes-cirriculum {
        text-align: center;

        .title-wrapper {
            max-width: 80%;
            margin-left: auto;
            margin-right: auto;
        }

        .row {
            max-width: 1000px;
            margin-left: auto;
            margin-right: auto;
        }

        .mycard {
            height: $base-height*1.3;
        }
    }

    // Testimonial
    #testimonial {
        text-align: center;

        .mycard {
            .circle {
                margin-left: auto;
                margin-right: auto;
            }

            height: $base-height * 1.15;
            flex-direction: column;
        }
    }

    #our-teachers,
    #our-partners {
        .title-wrapper {
            text-align: center;
            max-width: 80%;
            margin-left: auto;
            margin-right: auto;
        }
    }
    [class|=value] {
        width: 80%;
    }
    // Programmes
    #programmes {
        .card-border {
            height: math.div($base-height, 3);
        }
    }
}

// ============= 9 9 2 PX ==============
@media (min-width : 992px) {
    body {
        // background-color: burlywood;
    }

    // Header Setting
    header {

        h1 {
            font-size: $base-font-size*1.2;
        }

        .social-wrapper {
            font-size: $base-font-size*1.5 ;
        }
    }

    .hero-img {
        height: 400px;
        overflow: hidden;
    }

    // Navbar
    nav {
        .nav-link {
            font-size: $base-font-size *1.2;
            margin-right: $base-margin;
        }
        .navbar-brand {
            img {
                height: 4rem;
            }
        }
    }

    // Kampung Spirit Section
    .img-banner {
        .col-4 {
            height: math.div($base-height, 1.75);
        }
    }

    // Booking Form Section
    .form-map {
        img {
            max-height: $base-height * 1.25;
        }

    }

    // Prog & Cirriculum Section
    #programmes-cirriculum {
        .title-wrapper {
            max-width: 70%;
            margin-left: auto;
            margin-right: auto;
        }

        margin-top: $base-margin *2;
        margin-bottom: $base-margin *2;

        .mycard {
            height: $base-height*1.3;
        }
    }

    // Testimonial
    #testimonial {

        .title-wrapper {
            max-width: 70%;
            margin-left: auto;
            margin-right: auto;
        }

        .row {
            max-width: 1000px;
            margin-left: auto;
            margin-right: auto;
        }

    }

    #our-teachers,
    #our-partners {
        .title-wrapper {
            max-width: 70%;
            margin-left: auto;
            margin-right: auto;
        }

        .row {
            max-width: 800px;
        }
    }
    #values>span {
        font-size: $base-font-size * 8;
    }
    [class|=value] {
        margin-bottom: $base-margin * 1.5;
        font-size: $base-font-size * 2;
    }
    .values {
        font-size: $base-font-size * 4;
    }
    // Programmes
    #programmes {
        .max-width {
            max-width: 1000px;
        }

        .card-border {
            height: math.div($base-height, 2.5);
        }

    }
}

// ============= 1 2 0 0 PX ==============
@media (min-width : 1200px) {
    body {
        // background-color: rgb(135, 222, 187);
    }

    #testimonial {
        .mycard {
            height: $base-height ;
        }
    }
    .values {
        font-size: $base-font-size * 4.5;
    }
}

// ============= 1 4 0 0 PX ==============
@media (min-width : 1400px) {
    body {
        // background-color: rgb(150, 135, 222);
    }

    // Kampung Spirit Section
    .img-banner {
        .col-4 {
            height: math.div($base-height, 1.25);
        }
    }

}